@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    width:100%;
    height: 100vh;
}


body {
	font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav {
    height: 100%;
    width: 100%;
}

nav > header > *, nav > .container > * {
    padding: 30px 300px 30px 300px;
}

header {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.restaurant-info {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.info-text {
    width: 60%;
}

.info-img {
    width: 40%;
}

.info-text > h1 {
    margin-bottom: 20px;
}

.info-text > p {
    margin-top: 10px;
    word-spacing: 10px;
    line-height: 30px;
    color: rgb(119, 118, 118);
}

.logo {
    color: rgb(15, 201, 170);
    height: 8vh;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.border-bottom {
        border-bottom: solid rgb(226, 224, 224) 1px;
}

.main-container {
    background-color: rgb(243, 243, 243);
}

.second-container {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

.container {
    width: 70%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.panier {
    margin-top: 55px;
    background-color: white;
    width: 30%;
    min-height: 30vh;
    border-radius: 8px;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.achat-container {
    width: 95%;
    display: flex;
    justify-content: center;
}


.achat {
    margin-top: 10px;
    color: rgb(131, 131, 131);
    font-size: 16px;
    background-color: rgb(214, 213, 213);
    border: solid transparent 0px;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
}


.achat-non-vide {
    margin-top: 10px;
    font-size: 16px;
    background-color: rgb(15, 201, 170);
    color: white;
    border: solid transparent 0px;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
}

.panier-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.commande-container {
    min-height: 10vh;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.commande-container::-webkit-scrollbar {
    overflow: hidden;
}

.commande-container > p {
    margin-top: 20%;
    color: rgb(170, 169, 169);
}

.commande-panier {
    color: rgb(66, 65, 65);
    display: flex;
    padding: 10px;
    width: 100%;
}

.affichage-panier {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 10px;
    width: 35%;
}

.panier-button {
    margin: 0px 10px 0px 10px;
    border-radius: 50px;
    border: solid rgb(15, 201, 170) 2px;
    background-color: white;
    width: 25px;
    height: 25px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
}

.panier-title {
    padding: 10px;
    width: 45%;
}

.panier-price {    
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.calcul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60%;
    width: 90%;
}

.sous-total {
    padding: 10px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    border-top: solid rgb(196, 194, 194) 1px;
}

.frais {
    padding: 10px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    border-bottom: solid rgb(196, 194, 194) 1px;
}

.total {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-categories {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.container-categories-content {
    margin: 0px 20px 0px 0px;
    padding: 30px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 20vw;
    height: 160px;
    color: rgb(119, 118, 118);
    border: solid transparent 0px;
}

.container-categories-content:hover {
    transition: 0.4s;
    -webkit-box-shadow: 0px 14px 43px -10px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 14px 43px -10px rgba(0,0,0,0.23);
    box-shadow: 0px 14px 43px -10px rgba(0,0,0,0.23);
}




.categories-text > p {
    margin-top: 10px;
    height: 3.4vh;
    overflow: hidden;
}

.categories-text {
    width: 70%;
}

h2 {
    color: black;
    font-weight: 100;
}

.categories-img {
    display: flex;
    align-items: center;
    width: 30%;
}

.img {
    border-radius: 10px;
    object-fit:cover;
}

.price-container {
    margin-top: 10px;
    display: flex;
}

.etoile {
    margin-left: 20px;
    color: rgb(255, 153, 0)
}